# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
env/**
*.env
.env.local
.env
venv/

# Static files
staticfiles/
static/

# Media files
media/

# Django
*.log
db.sqlite3

# VS Code
.vscode/

# Docker
docker-compose.override.yml

# OS
.DS_Store

# Other
*.swp

# SSL
certbot/